/node_modules
/public/hot
/public/storage/imagenes/alumnos/*
/public/storage/imagenes/profesores/*
!/public/storage/imagenes/profesores/default.png
!/public/storage/imagenes/alumnos/default.png
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env*
