html,
body,
#content,
.container-md,
.wrapper {
  background-color: rgb(170, 221, 168);
  
}

.pagination > li {
  background-color: white;
}
.pagination li a,
.pagination li a:hover {
  text-transform: none !important;
}
.pagination {
  display: inline-block;
}
.alert{
  position: absolute !important;
  z-index: 99999;
  width: 100%;
}

.pagination li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination li.active {
  background-color: #4caf50;
  color: white;
}

.pagination li:hover:not(.active) {
  background-color: #ddd;
}
.pagination li {
  transition: background-color 0.3s;
}
.pagination li {
  border: 1px solid #ddd; /* Gray */
}
.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Para simular separacion entre tarjetas en los listados*/
.card{
  border: 0px solid rgb(170, 221, 168) !important ;
  border-right: 5px solid rgb(170, 221, 168) !important;
  border-radius: 0.25rem !important;
}

/*Para los botones donde se muestra el icono de los modulos*/
.icon{
  vertical-align: bottom !important;
}
.opcionBoton{

  background-color: #006AAA !important;
}
.opcionBoton img{
  transition: filter .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.opcionBoton:hover img{
 /* color:black;*/
  filter: invert(100%); 
}

.elementoMenu >span{
  font-size: 1.4em !important;

}
.elementoMenu >img{
  filter: invert(100%) !important; 

}