table.greenTable {
    font-family: Georgia, serif;
    /*border: 6px solid #24943A;*/
    background-color: #D4EED1;
    width: 100%;
    text-align: center;
  }
  table.greenTable td, table.greenTable th {
    border: 2px solid #040C03;
    padding: 3px 2px;
  }
  table.greenTable td {
    max-width: 50px;
  }

 

    /*Para la primera columna de las horas*/
  table.greenTable tbody tr>:nth-child(1) {
    font-size: 30px;
    padding-left: 12px;
    padding-right: 12px;
  }
  table.greenTable tr:nth-child(even) {
    background: #1AEA7C;
  }
  table.greenTable thead {
    background: #1B6D2B;
    text-align: center;
    background: -moz-linear-gradient(top, #549160 0%, #317b40 66%, rgb(25, 102, 41) 100%);
    background: -webkit-linear-gradient(top, #549160 0%, #317b40 66%, #1B6D2B 100%);
    background: linear-gradient(to bottom, #549160 0%, #317b40 66%, #1B6D2B 100%);
    border-bottom: 0px solid #444444;
  }
  table.greenTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #F0F0F0;
    text-align: center;
    border-left: 2px solid black;
  }
  table.greenTable thead th:first-child {
    /*border-left: none;*/
    text-align: center;
  }
  
  
  table.greenTable tfoot td {
    font-size: 13px;
  }

  table a{
    text-decoration: none;
    display: inline-block !important;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 3px !important;
    font-family: helvetica;
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    color: #002215;
    background-color: #82b085;
    border-radius: 2px;
    border: 2px double #006505;
  }
 table a:hover{
    opacity: 0.6;
    text-decoration: none;
    color:004430;
  }

  
 